// 头像名字
.soul-user-avatar-name__wrap {
  display: flex;
  flex-direction: row;
  height: 16px;
}
.soul-user-avatar-name__avatar {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1Px solid #FFFFFF;
  border-radius: 50%;
}
.soul-user-avatar-name__name {
  margin-left: 4px;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  color: #fff;
}